@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50%;

  margin-bottom: 20%;
}

.login-wrapper, .register-wrapper {
  width: 45%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.83);
  backdrop-filter: brightness(0.5);
}


.register-wrapper {
  width: 50%;
}

.Image {
  max-width: 100%; /* Establece un ancho máximo para la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fafafa;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.input-field {
  margin-bottom: 20px;
}

.error-message {
  color: red;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(25, 24, 24);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.login-link {
  margin-top: 10px;
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #adadad; /* Color de fondo opcional */
  text-align: center; /* Alineación del contenido del footer */
  padding: 10px 0; /* Espaciado interno del footer */
}


@media screen and (max-width: 768px) {
  .login-wrapper, .register-wrapper {
    width: 90%;
    padding: 20px;
    top: 12%;
  }
  
  .register-wrapper {
    top: 10%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .input-field input {
    height: 35px;
    font-size: 14px;
  }

  button {
    padding: 10px 15px;
    font-size: 14px;
  }


}

@media screen and (max-width: 480px) {

  .login-wrapper, .register-wrapper {
    width: 90%;
    padding: 20px;
    top: 12%;
  }
  .form-container {
    flex-direction: column;
  }

  .column {
    margin-right: 0;
    margin-bottom: 20px;
  }

}
